---
import Layout from "../layouts/Layout.astro";
const chapters = await Astro.glob("./chapters/*.md");
---

<Layout title="30 Days JS">
  <main class="w-full grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-x-14">
    {
      chapters.map((chapter) => (
        <a href={chapter.url}>
          <img src={chapter.frontmatter.banner} />
        </a>
      ))
    }
  </main>
</Layout>
