---
import Heart from "astro-heroicons/solid/Heart.astro";
---

<footer
  class="bg-[#212121] w-full p-6 text-white sticky bottom-0 flex justify-center items-center"
>
  <div class="flex items-center justify-center gap-2">
    <p class="text-lg font-semibold">Made with</p>

    <Heart class="w-5 text-yellow-300" />

    <p class="text-lg font-semibold">
      By <a
        target="_blank"
        href="https://linkedin.com/in/trishan9/"
        class="hover:cursor-pointer hover:underline">Trishan</a>
    </p>
  </div>
</footer>
