<nav
  class="w-full p-8 bg-[#212121] flex justify-between items-center sticky top-0"
>
  <a href="/">
    <h1 class="text-3xl cursor-pointer text-yellow-300 font-semibold">30 Days JS</h1>
  </a>

  <div class="flex items-center gap-6">
    <a
      href="https://github.com/Asabeneh/30-Days-Of-JavaScript"
      target="_blank"
      class=" text-xl text-white underline hover:no-underline"
    >
      Reference</a
    >

    <a href="https://github.com/trishan9" target="_blank">
      <img
        class="w-10 cursor-pointer"
        src="https://icon-library.com/images/github-icon-white/github-icon-white-6.jpg"
      />
    </a>
  </div>
</nav>
