---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
const { title } = Astro.props;
import { inject } from '@vercel/analytics';
inject();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Trishan Wagle" />
    <meta name="title" content="30 Days of JavaScript — Trishan" />
    <meta
      name="description"
      content="Website that teaches you all the fundamentals of JavaScript. Curated by taking reference from popular GitHub Repository: 30 Days of JavaScript by Asabeneh Yetayeh"
    />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://trishan-js30.vercel.app/" />
    <meta property="og:title" content="30 Days of JavaScript — Trishan" />
    <meta
      property="og:description"
      content="Website that teaches you all the fundamentals of JavaScript. Curated by taking reference from popular GitHub Repository: 30 Days of JavaScript by Asabeneh Yetayeh!"
    />
    <meta
      property="og:image"
      content="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkRb7zPtx64QkkoxWFAW95tTOdSs0dAfFgVWvb640cdOc1sJzZMFY3az7G5ONmrJIu64w&usqp=CAU"
    />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="bg-[#121212]">
    <NavBar />

    <section
      class="p-10 prose mx-auto md:prose-lg lg:prose-xl prose-invert max-w-screen-lg prose-a:text-secondary prose-blockquote:border-l-primary prose-blockquote:bg-muted prose-blockquote:py-[1px] prose-blockquote:pr-5 prose-code:text-primary prose-code:font-normal prose-pre:border prose-img:rounded-sm"
    >
      <slot />
    </section>

    <Footer />
  </body>
</html>